Web Application/Web App.json
[
    {
        "id": "c0ea7c26.36056",
        "type": "tab",
        "label": "Warehouse Prediction",
        "disabled": false,
        "info": ""
    },
    {
        "id": "428db119.8d013",
        "type": "ui_button",
        "z": "c0ea7c26.36056",
        "name": "",
        "group": "e7c39b78.3060b8",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Click to Continue",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 330,
        "y": 80,
        "wires": [
            [
                "65d6956e.27585c",
                "62448749.c72448"
            ]
        ]
    },
    {
        "id": "65d6956e.27585c",
        "type": "function",
        "z": "c0ea7c26.36056",
        "name": "Welcome Dialogue",
        "func": "msg.payload= \"Welcome to our smart warehouse web application\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 40,
        "wires": [
            [
                "a306c509.18dec8"
            ]
        ]
    },
    {
        "id": "a306c509.18dec8",
        "type": "ui_audio",
        "z": "c0ea7c26.36056",
        "name": "",
        "group": "e7c39b78.3060b8",
        "voice": "en-GB",
        "always": true,
        "x": 740,
        "y": 40,
        "wires": []
    },
    {
        "id": "62448749.c72448",
        "type": "ui_ui_control",
        "z": "c0ea7c26.36056",
        "name": "",
        "events": "change",
        "x": 560,
        "y": 80,
        "wires": [
            [
                "144c8b84.d90014"
            ]
        ]
    },
    {
        "id": "996b8ab0.b9e508",
        "type": "ui_template",
        "z": "c0ea7c26.36056",
        "group": "e7c39b78.3060b8",
        "name": "",
        "order": 9,
        "width": 0,
        "height": 0,
        "format": "<style>\nbody{\n\tbackground-image: url(\"https://blog.lpcinternational.co.uk/hs-fs/hubfs/Blog_Images/7%20Common%20Warehouse%20Design%20Issues%20&%20How%20To%20Avoid%20Them.jpg?width=750&height=428&name=7%20Common%20Warehouse%20Design%20Issues%20&%20How%20To%20Avoid%20Them.jpg\");\n\tbackground-size: cover;\n}\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 360,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "753acf1c.b643d",
        "type": "ui_form",
        "z": "c0ea7c26.36056",
        "name": "",
        "label": "",
        "group": "413e228a.1e18dc",
        "order": 0,
        "width": "0",
        "height": "0",
        "options": [
            {
                "label": "Center ID",
                "value": "center",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Product Code",
                "value": "meal",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Promotions",
                "value": "promo",
                "type": "checkbox",
                "required": true,
                "rows": null
            },
            {
                "label": "Price",
                "value": "price",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "center": "",
            "meal": "",
            "promo": false,
            "price": ""
        },
        "payload": "",
        "submit": "Submit",
        "cancel": "Reset",
        "topic": "",
        "x": 610,
        "y": 260,
        "wires": [
            [
                "1e681003.ed2fe",
                "722cd9cb.91f378"
            ]
        ]
    },
    {
        "id": "6ad71b0d.a17a04",
        "type": "ui_template",
        "z": "c0ea7c26.36056",
        "group": "413e228a.1e18dc",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\nbody{\n\tbackground-image: url(\"https://cdn.vox-cdn.com/thumbor/Nd7QcetAzgq7CWl6GOLeVIwjTn8=/0x0:5000x3486/1400x1050/filters:focal(2303x650:3103x1450):no_upscale()/cdn.vox-cdn.com/uploads/chorus_image/image/66369293/Amazon_Go_Grocery_3.0.jpg\");\n\tbackground-size: cover;\n}\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 160,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "1e681003.ed2fe",
        "type": "function",
        "z": "c0ea7c26.36056",
        "name": "Correctness",
        "func": "center_id=[10,11,13,14,17,20,23,24,26,27,29,30,32,34,36,39,41,42,43,50,51,52,53,55,57,58,59,61,64,65,66,67,68,72,73,74,75,76,77,80,81,83,86,88,89,91,92,93,94,97,99,101,102,104,106,108,109,110,113,124,126,129,132,137,139,143,145,146,149,152,153,157,161,162,174,177,186]\nmeal_id=[1062,1109,1198,1207,1216,1230,1247,1248,1311,1438,1445,1525,1543,1558,1571,1727,1754,1770,1778,1803,1847,1878,1885,1902,1962,1971,1993,2104,2126,2139,2290,2304,2306,2322,2444,2490,2492,2494,2539,2569,2577,2581,2631,2640,2664,2704,2707,2760,2826,2867,2956]\nif(center_id.includes(msg.payload.center) && meal_id.includes(msg.payload.meal))\n    msg.payload=\"Thanks! That was a Valid data\"\nelse if(!center_id.includes(msg.payload.center) && meal_id.includes(msg.payload.meal))\n    msg.payload=\"Kindly check your Center ID\";\nelse if(!meal_id.includes(msg.payload.meal) && center_id.includes(msg.payload.center))\n    msg.payload=\"Kindly check your Product ID\";\nelse\n    msg.payload=\"Oops! Looks like you haven't given the correct Center and Product ID\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 300,
        "wires": [
            [
                "aa4bc5be.3f9e08",
                "81b74a33.775df8",
                "a6da2f31.61f3f"
            ]
        ]
    },
    {
        "id": "aa4bc5be.3f9e08",
        "type": "ui_toast",
        "z": "c0ea7c26.36056",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 970,
        "y": 340,
        "wires": []
    },
    {
        "id": "1103294b.304a67",
        "type": "http request",
        "z": "c0ea7c26.36056",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://iam.cloud.ibm.com/identity/token",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 470,
        "y": 420,
        "wires": [
            [
                "602113b7.7324ac",
                "d4a6b94b.34cfb8"
            ]
        ]
    },
    {
        "id": "602113b7.7324ac",
        "type": "function",
        "z": "c0ea7c26.36056",
        "name": "Pre Prediction",
        "func": "var week = global.get(\"weekno\")\nvar center = global.get(\"center\")\nvar city = global.get(\"city\")\nvar region = global.get(\"region\")\nvar op = global.get(\"op\")\nvar meal = global.get(\"meal\")\nvar price = global.get(\"price\")\nvar promo = global.get(\"promo\")\nvar token = msg.payload.access_token\nvar instance_id=\"3723af48-b8e7-4974-aae9-ce598cb46c02\";\nmsg.headers = {'Content-Type': 'application/json', 'Authorization': 'Bearer ' + token, 'ML-Instance-ID': instance_id}\nmsg.payload = {\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"city_code\", \"region_code\", \"op_area\", \"meal_id\", \"price\", \"promotions\"], \"values\": [[week,center,city,region,op,meal,price,promo]]}]}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 420,
        "wires": [
            [
                "f1fde6cb.7ef858"
            ]
        ]
    },
    {
        "id": "d4a6b94b.34cfb8",
        "type": "debug",
        "z": "c0ea7c26.36056",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 370,
        "y": 480,
        "wires": []
    },
    {
        "id": "eb315cbf.8227",
        "type": "debug",
        "z": "c0ea7c26.36056",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 750,
        "y": 520,
        "wires": []
    },
    {
        "id": "708090bd.d6bf8",
        "type": "ui_ui_control",
        "z": "c0ea7c26.36056",
        "name": "",
        "events": "change",
        "x": 500,
        "y": 360,
        "wires": [
            [
                "578d4fb8.6e4af"
            ]
        ]
    },
    {
        "id": "578d4fb8.6e4af",
        "type": "function",
        "z": "c0ea7c26.36056",
        "name": "Default zero",
        "func": "msg.payload=0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 360,
        "wires": [
            [
                "b7354f20.b9d22"
            ]
        ]
    },
    {
        "id": "b7354f20.b9d22",
        "type": "ui_slider",
        "z": "c0ea7c26.36056",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "de6343d7.5b62b",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": "0",
        "max": 10,
        "step": 1,
        "x": 790,
        "y": 360,
        "wires": [
            [
                "668b0f0d.0074c"
            ]
        ]
    },
    {
        "id": "668b0f0d.0074c",
        "type": "function",
        "z": "c0ea7c26.36056",
        "name": "Notify",
        "func": "if(msg.payload!==0){\n    global.set(\"weekno\",Math.round(((Math.random()*14)*msg.payload))+1)\n    msg.payload=\"The week number you entered is \"+msg.payload;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 150,
        "y": 420,
        "wires": [
            [
                "29e9cff1.85e46",
                "7826be54.93ab2",
                "5c3c85cf.303aac"
            ]
        ]
    },
    {
        "id": "29e9cff1.85e46",
        "type": "ui_toast",
        "z": "c0ea7c26.36056",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 190,
        "y": 520,
        "wires": []
    },
    {
        "id": "938097ba.316158",
        "type": "ui_template",
        "z": "c0ea7c26.36056",
        "group": "de6343d7.5b62b",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\nbody{\n\tbackground-image: url(\"https://www.directorstalkinterviews.com/wp-content/uploads/2020/02/supermarket-food.jpg\");\n\tbackground-size: cover;\n}\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 720,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "be401608.93e688",
        "type": "function",
        "z": "c0ea7c26.36056",
        "name": "Output",
        "func": "msg.payload=Math.round(msg.payload.predictions[0].values[0][0])\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 570,
        "y": 480,
        "wires": [
            [
                "eb315cbf.8227",
                "c56052f0.27fdd",
                "cbcfa23.520f46",
                "c90b1607.82eea8"
            ]
        ]
    },
    {
        "id": "ec636983.5b9a88",
        "type": "function",
        "z": "c0ea7c26.36056",
        "name": "Control",
        "func": "if(msg.payload==\"Thanks! That was a Valid data\"){\n    msg.payload=3\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 360,
        "wires": [
            [
                "708090bd.d6bf8"
            ]
        ]
    },
    {
        "id": "7826be54.93ab2",
        "type": "function",
        "z": "c0ea7c26.36056",
        "name": "Pre Token 1",
        "func": "var apikey=\"ZCdj6JsRr0DOyGY3HIArD4RMn5v1Yq-vk5xktbCwZp1I\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 420,
        "wires": [
            [
                "1103294b.304a67"
            ]
        ]
    },
    {
        "id": "f1fde6cb.7ef858",
        "type": "http request",
        "z": "c0ea7c26.36056",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://eu-gb.ml.cloud.ibm.com/v4/deployments/f4f207c0-24cb-48aa-a492-f23ef13aa94e/predictions",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 810,
        "y": 420,
        "wires": [
            [
                "be401608.93e688"
            ]
        ]
    },
    {
        "id": "f9cd20e0.32ac3",
        "type": "ui_form",
        "z": "c0ea7c26.36056",
        "name": "",
        "label": "",
        "group": "f5177aa0.5a6238",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Region Code",
                "value": "region",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "City ID",
                "value": "city",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Op Area (0.5 - 7.5)",
                "value": "op",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "region": "",
            "city": "",
            "op": ""
        },
        "payload": "",
        "submit": "Submit",
        "cancel": "Reset",
        "topic": "",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "6e63a2cd.385ddc",
                "8553fd4b.65c1"
            ]
        ]
    },
    {
        "id": "6e63a2cd.385ddc",
        "type": "function",
        "z": "c0ea7c26.36056",
        "name": "Global",
        "func": "global.set(\"region\",Math.round(msg.payload.region))\nglobal.set(\"city\",Math.round(msg.payload.city))\nglobal.set(\"op\",msg.payload.op)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "722cd9cb.91f378",
        "type": "function",
        "z": "c0ea7c26.36056",
        "name": "Global initialisation",
        "func": "global.set(\"center\",msg.payload.center)\nglobal.set(\"meal\",msg.payload.meal)\nglobal.set(\"price\",msg.payload.price)\nif(msg.payload.promo===true)\n    global.set(\"promo\",1)\nelse\n    global.set(\"promo\",0)\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 770,
        "y": 260,
        "wires": [
            [
                "f992d1cb.c1b71"
            ]
        ]
    },
    {
        "id": "f992d1cb.c1b71",
        "type": "debug",
        "z": "c0ea7c26.36056",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 950,
        "y": 260,
        "wires": []
    },
    {
        "id": "36739b7c.653994",
        "type": "ui_ui_control",
        "z": "c0ea7c26.36056",
        "name": "",
        "events": "all",
        "x": 480,
        "y": 260,
        "wires": [
            [
                "753acf1c.b643d"
            ]
        ]
    },
    {
        "id": "4d3e3f06.70e65",
        "type": "ui_template",
        "z": "c0ea7c26.36056",
        "group": "f5177aa0.5a6238",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\nbody{\n\tbackground-image: url(\"https://martechtoday.com/wp-content/uploads/2018/08/location-data-cityscape-ss-1920_rmjpym.jpg\");\n\tbackground-size: cover;\n}\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 720,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "73606810.e88348",
        "type": "delay",
        "z": "c0ea7c26.36056",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 330,
        "y": 260,
        "wires": [
            [
                "36739b7c.653994"
            ]
        ]
    },
    {
        "id": "a6da2f31.61f3f",
        "type": "delay",
        "z": "c0ea7c26.36056",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 210,
        "y": 360,
        "wires": [
            [
                "ec636983.5b9a88"
            ]
        ]
    },
    {
        "id": "144c8b84.d90014",
        "type": "delay",
        "z": "c0ea7c26.36056",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 710,
        "y": 80,
        "wires": [
            [
                "f9cd20e0.32ac3"
            ]
        ]
    },
    {
        "id": "c56052f0.27fdd",
        "type": "ui_text",
        "z": "c0ea7c26.36056",
        "group": "7f905391.22d86c",
        "order": 0,
        "width": "5",
        "height": "2",
        "name": "",
        "label": "Wow Great..! Your Demand Required for the Entered week is:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 840,
        "y": 560,
        "wires": []
    },
    {
        "id": "d8f3c013.e5eff",
        "type": "ui_ui_control",
        "z": "c0ea7c26.36056",
        "name": "",
        "events": "all",
        "x": 980,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "cbcfa23.520f46",
        "type": "function",
        "z": "c0ea7c26.36056",
        "name": "Control",
        "func": "msg.payload=4\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 480,
        "wires": [
            [
                "d8f3c013.e5eff"
            ]
        ]
    },
    {
        "id": "2c9a9df2.7f0122",
        "type": "ui_template",
        "z": "c0ea7c26.36056",
        "group": "7f905391.22d86c",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\nbody{\n\tbackground-image: url(\"https://mecaluxcom.cdnwm.com/case-studies/frozen-storage-warehouse-comag-movirack-mobile-pallet-racking.1.2.jpg\");\n\tbackground-size: cover;\n}\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 440,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "8553fd4b.65c1",
        "type": "function",
        "z": "c0ea7c26.36056",
        "name": "Checking",
        "func": "region = [23,34,35,56,71,77,85,93]\ncity = [456,461,473,478,485,515,517,522,526,541,553,556,561,562,576,577,579,590,593,596,599,602,604,609,614,615,620,628,632,638,647,648,649,651,654,658,659,675,676,679,680,683,685,693,695,698,699,700,702,703,713]\n\nif(region.includes(msg.payload.region) && city.includes(msg.payload.city) && (msg.payload.op >=0.5 && msg.payload.op <= 7.5))\n    msg.payload=\"Yeah! Thats seems to be a valid location\"\nelse if(!region.includes(msg.payload.region) && city.includes(msg.payload.city) && (msg.payload.op >=0.5 && msg.payload.op <= 7.5))\n    msg.payload = \"Nope..! Check your region code!!\"\nelse if(!city.includes(msg.payload.city) && region.includes(msg.payload.region) && (msg.payload.op >=0.5 && msg.payload.op <= 7.5))\n    msg.payload = \"Nope..! Check your city code!!\"\nelse if(region.includes(msg.payload.region) && city.includes(msg.payload.city) && !(msg.payload.op >=0.5 && msg.payload.op <= 7.5))\n    msg.payload = \"All is well..! Check your Op Area alone!!\"\nelse\n    msg.payload = \" Oops! Looks like you don't remember the details! Have a look and try again\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 200,
        "wires": [
            [
                "210e9312.6e403c",
                "eba01ca0.0ea1a",
                "3acda9d6.395486"
            ]
        ]
    },
    {
        "id": "210e9312.6e403c",
        "type": "function",
        "z": "c0ea7c26.36056",
        "name": "Control",
        "func": "if(msg.payload==\"Yeah! Thats seems to be a valid location\"){\n    msg.payload=2;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 180,
        "y": 260,
        "wires": [
            [
                "73606810.e88348"
            ]
        ]
    },
    {
        "id": "eba01ca0.0ea1a",
        "type": "ui_toast",
        "z": "c0ea7c26.36056",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 530,
        "y": 200,
        "wires": []
    },
    {
        "id": "c90b1607.82eea8",
        "type": "function",
        "z": "c0ea7c26.36056",
        "name": "O/p Audio",
        "func": "msg.payload = \"Woww.. Great..! Your Demand Required for the Entered week is, \"+msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 600,
        "wires": [
            [
                "51c09ae7.854194"
            ]
        ]
    },
    {
        "id": "51c09ae7.854194",
        "type": "ui_audio",
        "z": "c0ea7c26.36056",
        "name": "",
        "group": "7f905391.22d86c",
        "voice": "en-GB",
        "always": true,
        "x": 860,
        "y": 600,
        "wires": []
    },
    {
        "id": "81b74a33.775df8",
        "type": "ui_audio",
        "z": "c0ea7c26.36056",
        "name": "",
        "group": "413e228a.1e18dc",
        "voice": "en-US",
        "always": true,
        "x": 960,
        "y": 300,
        "wires": []
    },
    {
        "id": "3acda9d6.395486",
        "type": "ui_audio",
        "z": "c0ea7c26.36056",
        "name": "",
        "group": "f5177aa0.5a6238",
        "voice": "en-GB",
        "always": true,
        "x": 500,
        "y": 160,
        "wires": []
    },
    {
        "id": "5c3c85cf.303aac",
        "type": "ui_audio",
        "z": "c0ea7c26.36056",
        "name": "",
        "group": "de6343d7.5b62b",
        "voice": "en-US",
        "always": true,
        "x": 200,
        "y": 480,
        "wires": []
    },
    {
        "id": "4f3f3854.4d0f08",
        "type": "ui_template",
        "z": "c0ea7c26.36056",
        "group": "c9ff7f7a.1f9cc",
        "name": "",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<input type=\"button\" class=\"button\" value=\"Click Here\" onclick=\"window.open('https://web-chat.global.assistant.watson.cloud.ibm.com/preview.html?region=eu-gb&integrationID=a8ad8014-832d-48b7-a2cf-9f9129962f07&serviceInstanceID=8168dfce-4302-4e0f-8223-0cf54788c914')\" />\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 900,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "2f824c79.d46e94",
        "type": "ui_template",
        "z": "c0ea7c26.36056",
        "group": "c9ff7f7a.1f9cc",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n.button {\n  background-color: #00adc4;\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n}\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 900,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "cb90cd56.8f818",
        "type": "ui_template",
        "z": "c0ea7c26.36056",
        "group": "e43d3fdb.8bd5f",
        "name": "",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<input type=\"button\" class=\"button\" value=\"Click Here\" onclick=\"window.open('https://web-chat.global.assistant.watson.cloud.ibm.com/preview.html?region=eu-gb&integrationID=a8ad8014-832d-48b7-a2cf-9f9129962f07&serviceInstanceID=8168dfce-4302-4e0f-8223-0cf54788c914')\" />\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 940,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "8c7e9ed1.4c5ce",
        "type": "ui_template",
        "z": "c0ea7c26.36056",
        "group": "e43d3fdb.8bd5f",
        "name": "",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<style>\n.button {\n  background-color:#00adc4;\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n}\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 940,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "61881aac.593c74",
        "type": "ui_template",
        "z": "c0ea7c26.36056",
        "group": "5ffe7bd3.9af784",
        "name": "",
        "order": 0,
        "width": "8",
        "height": "11",
        "format": "<html>\n    <body>\n        <p class= \"aligncenter\">\n            <img src=\"https://i.postimg.cc/8cft7BTZ/Jayaseelan.jpg\" style=\"width:240px;height:240px;float:left\" alt= \"Jayaseelan\" ><br>\n            <br><b>Jayaseelan J</b><br><br>\n            Web App Developer<br><br>\n            St. Joseph's College of Engineering.\n        </p>\n        <br><br>\n          <p class= \"aligncenter\">\n            <img src=\"https://i.postimg.cc/fyCL0XcL/IMG-20200725-WA0005.jpg\" style=\"width:240px;height:240px;float:left\" alt= \"Joshua Praveen\" ><br>\n            <br><b>Joshua Praveen A</b><br><br>\n            Model Developer<br><br>\n            St. Joseph's College of Engineering.\n        </p>\n        <br>\n    </body>\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 250,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "fbcc9035.036e4",
        "type": "ui_template",
        "z": "c0ea7c26.36056",
        "group": "5ffe7bd3.9af784",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n.aligncenter {\n    text-align: center;\n}\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 400,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "872493e2.0a36d",
        "type": "ui_template",
        "z": "c0ea7c26.36056",
        "group": "5ffe7bd3.9af784",
        "name": "",
        "order": 16,
        "width": 0,
        "height": 0,
        "format": "<style>\nbody{\n\tbackground-image: url(\"https://images.squarespace-cdn.com/content/v1/58a5e0e503596e7b9db0682c/1490205158344-CPHKLKKSYX7SV60MLMY1/ke17ZwdGBToddI8pDm48kBF5TQekzZEpQg7uomf0YZx7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UVyOTFPrQTtpBzAcU-ytni6qrTZwh7dr1iuhQlzKpPq4AXDO04OIHuYhAboPQq4cAQ/image-asset.jpeg?format=1500w\");\n\tbackground-size: cover;\n}\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 110,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "e7c39b78.3060b8",
        "type": "ui_group",
        "z": "",
        "name": "Welcome to our Smart Warehouse Web Application",
        "tab": "f1abe1a1.2f7ef",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false
    },
    {
        "id": "413e228a.1e18dc",
        "type": "ui_group",
        "z": "",
        "name": "Kindly Enter Details to Predict",
        "tab": "f61751f6.4137f",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "de6343d7.5b62b",
        "type": "ui_group",
        "z": "",
        "name": "Week Number",
        "tab": "bdab7a27.e57e48",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "f5177aa0.5a6238",
        "type": "ui_group",
        "z": "",
        "name": "Enter the Location details",
        "tab": "6ccf4908.434388",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "7f905391.22d86c",
        "type": "ui_group",
        "z": "",
        "name": "Demand Required",
        "tab": "bf7978e4.7ce238",
        "order": 1,
        "disp": false,
        "width": "5"
    },
    {
        "id": "c9ff7f7a.1f9cc",
        "type": "ui_group",
        "z": "",
        "name": "To interact with our Parrot",
        "tab": "f61751f6.4137f",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "e43d3fdb.8bd5f",
        "type": "ui_group",
        "z": "",
        "name": "To Interact with our Parrot",
        "tab": "6ccf4908.434388",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "5ffe7bd3.9af784",
        "type": "ui_group",
        "z": "",
        "name": "Team SJCE",
        "tab": "e1f7774e.574348",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "f1abe1a1.2f7ef",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "fa-home fa-2x",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f61751f6.4137f",
        "type": "ui_tab",
        "z": "",
        "name": "Store Details",
        "icon": "fa-shopping-bag fa-2x",
        "order": 3
    },
    {
        "id": "bdab7a27.e57e48",
        "type": "ui_tab",
        "z": "",
        "name": "Week Info",
        "icon": "fa-calendar fa-2x",
        "order": 4
    },
    {
        "id": "6ccf4908.434388",
        "type": "ui_tab",
        "z": "",
        "name": "Location",
        "icon": "fa-map-marker fa-2x",
        "order": 2
    },
    {
        "id": "bf7978e4.7ce238",
        "type": "ui_tab",
        "z": "",
        "name": "Prediction",
        "icon": "fa-ravelry fa-2x",
        "order": 5
    },
    {
        "id": "e1f7774e.574348",
        "type": "ui_tab",
        "z": "",
        "name": "About Us",
        "icon": "fa-users fa-2x",
        "disabled": false,
        "hidden": false
    }
]